/* tag generali */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e67c;
    font-family: Arial;
}

.white{
    background-color: white;
}

hr{
    border: 1px solid #e6e6e67c;
    margin-top: 10px;
}

/* tag header */

.icon{
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
}

.title{
    height: 60px;
    font-size: 40px; 
    font-weight: bold;
    color: rgb(6, 6, 54);
    padding: 8px 50px 50px 50px  ;
}

/* tag main */

.menu{
    border-radius: 5px;
    height: auto;
    width: 800px;
    background-color: white;
    margin: 30px  0px  0px  240px;
}

button{
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px  15px;
    border: none;
    color: whitesmoke;
}

.blue{
    background-color: #178dee;
    border: 1px solid #c4c4c4;
}

.gray{
    color: #c4c4c4;
    background-color: white;
    border: 1px solid #c4c4c4;
}

h2{
    margin-top: 30px;
}

.margin{
    margin-left: 70px;
}

.check{
    color:green;
    margin-right: 5px;
    padding: 2px ;
    border: 1px solid green;
    border-radius: 50%;
}

.cross{
    color:red;
    margin-right: 5px;
    padding: 2px ;
    border: 1px solid red;
    border-radius: 50%;
}

p{
    display: inline-block;
}

.radius{
    border-radius: 20px;

}

.viola{
    background-color: rgb(136, 22, 218);
}

.verde{
    background-color: rgb(23, 139, 38);
}

.orange{
    background-color: orange;
}

.violet{
    background-color: rgb(255, 116, 250);
}

.lightgreen{
    background-color: rgb(98, 146, 98);
}