/* tag generali */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(230, 230, 230, 0.486);
}

/* tag header */

.icon{
    padding: 1px;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    
   
   
}

.title{
    background-color: white;
    height: 60px;
    font-size: 40px; 
    font-weight: bold;
    color: rgb(6, 6, 54);
    font-family: Arial;
    padding: 10px 50px 50px 50px  ;
}
